.d(n) {
  display: none
}
.d(b) {
  display: block
}
.d(ib) {
  display: inline-block
}
.d(f) {
  display: flex
}
.w(@w) {
  width: @w
}
.h(@h) {
  height: @h
}
.tc() {
  text-align: center
}
.fs(@px) {
  font-size: @px
}
.m(@m) {
  margin: @m
}
.p(@p) {
  padding: @p
}
.b() {
  font-weight: bold
}
.v(m) {
  vertical-align: middle
}
.v(t) {
  vertical-align: top
}
.pos(r) {
  position: relative
}
.pos(a) {
  position: absolute
}
.ovh() {
  overflow: hidden
}
.bb() {
  box-sizing: border-box
}
.tran(@x,@y) {
  transform: translate(@x,@y)
}
.br(@r) {
  border-radius: @r
}
.bc(@col) {
  background-color: @col
}