.dn {
  display: none
}
.db {
  display: block
}
.dib {
  display: inline-block
}
.w100 {
  width: 100%
}
.tc {
  text-align: center
}
.fs18 {
  font-size: 18px
}
.fs24 {
  font-size: 24px
}
.m0 {
  margin: 0
}
.mt30 {
  margin-top: 30px
}
.p0 {
  padding: 0
}
.b {
  font-weight: bold
}
.vm {
  vertical-align: middle
}
.vt {
  vertical-align: top
}
.rel {
  position: relative
}
.abs {
  position: absolute
}
.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%
}
.ovh {
  overflow: hidden
}
